@import "variable";

[type="file"] {
  position: absolute !important;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  width: 1px;
  height: 1px;

  + label {
    width: 185px;
    background: $blue;
    height: 32px;
    border-radius: 10px;
    font: 100% $font;
    outline: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &:focus + label,
  + label:hover {
    box-shadow: 0px 0px 4px 2px $shadow;
    transform: scale(1.03);
    transition: transform 0.5s, box-shadow 0.3s;
    cursor: pointer;
  }

  &:active + label {
    transform: scale(0.97);
    transition: transform 0.3s, background-color 0.2s;
  }
}