.header {
	width: 100%;
	height: auto;
}

.logoAndDetails {
	margin: 0px 40px 0px 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.logo {
	padding: 20px 0px;
}

.details {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.signUp {
	height: 20px;
}
.login {
	margin-left: 50px;
	border-radius: 10px;
	background-color: #faebb3;
	padding: 8px 30px;
}

.headerLink {
	align-items: flex-end;
	display: flex;
	flex-direction: row;
	max-height: 95px;
	text-decoration: none;
	color: #000000cc;
}

.imageLogo {
	width: auto;
	height: 50px;
	margin: 0;
}

.textLogo {
	width: auto;
	height: auto;
	letter-spacing: 3px;
	margin: 0px 0px 0px 20px; // didnt have exact numbers
	color: #565656;
}

.navContainer {
	padding-left: 80px;
	left: 0;
	width: 100%;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}

.navList {
	display: flex;
	list-style-type: none;
	margin: 0;
}

.navList li {
	margin: 0;
}

.navItem {
	color: #999;
	font-size: 0.9rem;
	margin-right: 1.3rem;
	padding: 0 40px;
	text-decoration: none;
}

.activeNavItem {
	color: #333333;
	padding-bottom: 3px;
	border-bottom: 2px solid #333333;
	font-weight: bold;
}

.navItem:hover {
	color: #555;
}
