@import "variable";

.container {
	width: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.content {
	width: 90%;
	flex-grow: 1;
	margin: 63px 83px 63px 83px;
	padding: 27px 24px 27px 7px;
	overflow: visible;
	align-self: center;
}

.content.profile {
	background-color: $grey;
	box-shadow: 0px 0px 40px 0px $shadow;
	border-radius: 700px 700px 700px 50px;
}

.content.projects {
	background-color: $grey;
	box-shadow: 0px 0px 40px 0px $shadow;
	border-radius: 700px 50px 50px 50px;
}
.content.explore {
	background-color: transparent;
}