@import "variable";

.personal-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.btn-controls {
  margin: 2rem;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}

.jobsearch-img {
  width: 400px;
  height: auto;
}

.sign-up-side-panel {
  width: 30%;
  background: $ivory;
  position: relative;
}

.typing-img {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 45%;
  left: 50%;
}

.sign-up-container {
  display: flex;
  flex-direction: row;
  height: 670px;
}

.sign-up-form {
  height: 100%;
  width: 70%;
  position: relative;
}

.step {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.step.one {
  width: 400px;
}

.background-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.background-info h6 {
  margin: 30px 0 0 0;
}

.background-info .inp-text {
  width: 100%;
}

.span-others {
  display: flex;
  align-items: center;
}

.span-others .cbx {
  margin: 0 10px 0 0;
}

.inp-text.step-one {
  width: 380px;
}

.row {
  display: flex;
}

.column {
  width: 50%;
}

.tip {
  font-weight: 300;
  font-size: 11px;
  margin: 0;
}

.preview-container {
  display: flex;
  flex-direction: row;
  gap: 4%;
}

.preview-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#img-placeholder {
  display: flex;
  background: #ededed;
  height: 140px;
  width: 140px;
  border-radius: 20px;
  font-size: 40px;
  color: $midgrey;
  align-items: center;
  justify-content: center;
}

.img-preview {
  max-width: 160px;
  max-height: 160px;
}

.social-icon {
  width: auto;
  max-width: 35px;
  max-height: 35px;
  margin: 0 20px 0 0;
}

.social-icon-span input {
  width: 380px;
  height: 32px;
}

.social-icon-span {
  width: 600px;
  display: flex;
  align-items: center;
  margin: 3% 0;
}

caption {
  font-size: 13px;
  font-weight: 500;
  width: 120px;
  text-align: left;
}
