.container {
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 8px;
    background-color: white;
    display: flex;
};

.taskCol {
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
    margin: 8px;
    width: 50%;
}

.taskTitle {
    font-size: 36px;
    font-style: italic;
};

.actionsCard {
    display: flow-root;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 8px;
    background-color: peachpuff;
    min-height: 110px;
};

.actionsContent {
    position: relative;
    float: left;
}

.actionsHandle {
    position: relative;
    float: right;
    min-height: 60px;
    min-width: 60px;
}

.draggingOver {
    background-color: lightblue;
}

.notDraggingOver {
    background-color: lightyellow;
}
