.container {
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 8px;
    background-color: white;
    
};

.taskTitle {
    font-size: 36px;
    font-style: italic;
};
