$font: "poppins";
$blue: #afdee9;
$pink: #ffded9;
$yellow: #faebb3;
$orange: #fad47a;
$red: #FF8585;
$deepblue:#9dd1db;
$deeppink: #f0cfc8;
$deepyellow: #eee1b2;
$darkblue: #3b646d;
$darkpink: #906a64;
$darkyellow: #6e674e;
$navy: #3e4d74;
$ivory: #faf6f1;
$grey: #FBFAF9;
$lightgrey: #ededed;
$midgrey: #aaaaaa;
$darkgrey: #565656;
$shadow: rgba(0,0,0,0.08);
