@import 'variable';

.alert {
  font-size: 40px;
  color: $reddo;
  padding: 10px;
}

.title {
  display: flex;
  line-height: initial;
}

.title h3 {
  margin: auto 5px !important;
}

.msg {
  padding: 15px 70px;
}
