@import "variable";

/* If the screen size is 768 or more */
@media only screen and (min-width: 768px) {
}

/* If the screen size is 768 or less */
@media only screen and (max-width: 767px) {
}

.root {
    color: $darkgrey;
}
.header {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row-reverse;
}
.button_back {
    margin: -32px 0 0 0;
}
.button_footer {
    margin: 2rem 0 0 0;
    display: flex;
    justify-content: flex-end;
}
.save_draft {
    color: $navy;
    background-color: $pink;
}

.delete_project {
    color: $grey;
    background-color: $reddo;
    margin-left: 20px;
}

.project_title {
    width: 335px;
    height: 40px;
    font-size: 40px;
    line-height: 1;
    font-weight: 600;
    cursor: pointer;
}

.title_help {
    width: 299px;
    height: 19px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    font-style: italic;
    margin-top: 10px;
}

.section {
    padding: 2rem 0rem;
}

.parent_form {
    justify-content: center;
}

.child_form {
    width: 60%;
}
.heading {
    width: 160px;
    height: 36px;
    font-size: 36px;
    line-height: 1;
    font-weight: 400;
    display: inline;
}
.section_question {
    font-size: 12px;
    line-height: 1.5;
    padding: 1em 0em;
}
.section_input {
    flex-direction: column;
    display: flex;
    padding: 1em 3%;
}
.section_input_row {
    display: flex;
    margin: 1em 3%;
}
.section_header {
    color: $darkgrey;
    font-size: 24px;
    display: flex;
    margin: 0 0 0 3%;
    padding: 1em 10% 0.5em 10px;
    border-bottom: 1px solid $midgrey;
}
.header_style {
    margin: 0 0 0 1em;
}
.input_link {
    width: 300px;
    margin: 0 0 0 1em;
}
.input_situation {
    height: 5em;
}
.input_teamsize {
    display: flex-inline;
}
.teamsize_button {
    min-width: 60px;
    margin-right: 10px;
}
.teamsize_selected {
    background-color: $yellow;
}
.budget_input {
    display: inline-flex;
}
.dropdown_currency {
    margin-right: 10px;
}
.icon_trash {
    &:hover {
        color: $reddo;
        cursor: pointer;
    }
   align-items: center;
   margin-left: 20px;
   display: inline-flex;
}
.button_text {
    margin-left: 5px;
}
.center {
    align-self: center;
}

.section_card {
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    background-color: white;
    border-radius: 25px;
  }