@import "variable";

/* If the screen size is 768 or more */
@media only screen and (min-width: 768px) {
}

/* If the screen size is 768 or less */
@media only screen and (max-width: 767px) {
}

.root {
    color: $darkgrey;
}
.header {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row-reverse;
}
.button_header {
    align-self: flex-start;
    display: inline-flex;
    justify-content: space-between;
}
.save_draft {
    color: $navy;
    background-color: $pink;
}

.delete_project {
    color: $grey;
    background-color: $reddo;
    margin-left: 20px;
}

.project_title {
    width: 335px;
    height: 40px;
    font-size: 40px;
    line-height: 1;
    font-weight: 600;
    cursor: pointer;
}

.title_help {
    width: 299px;
    height: 19px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    font-style: italic;
    margin-top: 10px;
}

.section {
    padding: 2rem 0rem;
}

.form {
    width: 60%;
}
.full_width {
    width: 90%;
    justify-content: center;
}
.heading {
    width: 160px;
    height: 36px;
    font-size: 36px;
    line-height: 1;
    font-weight: 400;
}
.section_question {
    font-size: 12px;
    line-height: 1.5;
    padding: 1em 0em;
  }
.section_input {
    flex-direction: column;
    display: flex;
    padding: 1em 3%;
}

.input_situation {
    height: 5em;
}
.input_teamsize {
    display: flex-inline;
}
.teamsize_button {
    min-width: 60px;
    margin-right: 10px;
}
.teamsize_selected {
    background-color: $yellow;
}
.budget_input {
    display: inline-flex;
}
.dropdown_currency {
    margin-right: 10px;
}