@import 'variable';

.container {
  background-color: $ivory;
  padding: 60px;
  width: 700px;
  height: fit-content;
  border-radius: 25px;
}

.checkContainer {
  display: flex;
  line-height: initial;
}

.checkContainer label {
  margin-left: 0px !important;
}

.listContainer {
  padding: 20px 50px;
}

.closeBtn {
  margin: 30px auto 0px auto !important;
  display: block !important;
}
