@import 'variable';

.section_card {
	display: flex;
	padding: 1rem;
	margin: 1rem 0;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
	background-color: white;
	border-radius: 25px;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}

.imageContainer {
	padding-right: 1rem;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.endorseInfo {
	padding-left: 1rem;
	width: 83%;
}
.profile_pic {
	height: 60px;
	width: 60px;
	border-radius: 8px;
	margin-bottom: 0;
	object-fit: cover;
}

.skill {
	background: $yellow;
	color: $darkyellow;
	padding: 0 5px;
	margin: 0 2px;
}

.tool {
	background: $blue;
	color: $darkblue;
	padding: 0 5px;
	margin: 0 2px;
}
