@import 'variable';

.chartContainer {
  padding: 20px;
  background-color: $ivory;
}

.ganttChart, 
.ganttChart text,
.ganttChart rect {
  font-family: $font !important;
  font-weight: normal !important;
  color: $navy;
}
