.header {
    width: 100%;
    height: auto;
}

.logoAndDetails {
    margin: 0px 40px 0px 80px;
    display: flex;
    flex-direction: row;
}
.logo {
    width: 15%;
    padding: 20px 0px;
}

.details {
    width: 85%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.signUp {
    height: 20px;
}
.login {
    margin-left: 50px;
    border-radius: 10px;
    background-color: #faebb3;
    padding: 8px 30px;
}

.headerLink {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    max-height: 95px;
    text-decoration: none;
    color: #000000cc;
}

.imageLogo {
    width: 40%;
    height: auto;
    margin: 0;
}

.textLogo {
    width: 60%;
    height: auto;
    letter-spacing: 3px;
    margin: 0px 0px 0px 20px; // didnt have exact numbers
}

.navContainer {
    padding-left: 80px;
    left: 0;
    width: 100%;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

.navList {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.navList li {
    margin: 0;
}

.navItem {
    color: #999;
    font-size: 0.9rem;
    margin-right: 1.3rem;
    padding: 0 40px;
    text-decoration: none;
}

.activeNavItem {
    color: #333333;
    padding-bottom: 3px;
    border-bottom: 2px solid #333333;
    font-weight: bold;
}

.navItem:hover {
    color: #666666;
}
