@import "variable";

.header {
	width: 100%;
	height: auto;
	border-bottom: 1px solid $lightgrey;
}

.container {
	max-width: 940px;
	margin: 20px auto;
	display: flex;
	align-items: center;
}

.uran {
	color: #4d4d4d;
	font-size: 36px;
	font-weight: 500;
	padding-left: 20px;
}

.headerLink {
	align-items: center;
	display: flex;
	text-decoration: none;
	width: 170px;
}

.imageLogo {
	width: 45px;
}

.navContainer {
	display: inline-block;
	width: 100%;
	height: fit-content;
}

.navBar {
	position: relative;
	float: right;
	display: flex;
	align-items: center;
}

.navItem {
	position: relative;
	font-size: 13px;
	font-weight: 500;
	padding: 10px 25px;
	text-decoration: none;
	&:hover {
		color: $darkpink !important;
	}
}

.activeNavItem {
	color: black !important;
	font-weight: 600;
}

.tabTop {
	// padding-left: 80px;
	left: 0;
	width: 100%;
	border-top: 1px solid #d9d9d9;
}

.activeTabItem {
	color: $navy !important;
	padding-bottom: 3px;
	border-top: 2px solid $navy;
	font-weight: 500;
}

.section {
	margin: 3em 0em;
}

.buttons {
	display: flex;
}

.buttons button {
	min-width: 100px;
	margin-left: 20px;
	font-size: 13px;
}

.toggle,
#label {
	display: none;
	color: $darkgrey;
}

@media screen and (max-width: 991px) {
	#label {
		display: flex;
		cursor: pointer;
	}
	.uran {
		font-size: 1.6rem;
	}
	.container {
		justify-content: space-around;
		flex-direction: column;
	}
	.headerContainer {
		display: flex;
		align-items: center;
		font-size: 20px;
		justify-content: space-between;
		padding: 0 36px;
		width: 100%;
	}
	.navContainer {
		width: 100%;
		position: absolute;
		top: 91.28px;
		z-index: 1;
		background: rgb(250,250,250);
	}
	.navBar {
		display: none;
		float: unset;
		flex-direction: column;
		margin-top: 20px;
		padding-bottom: 20px;
   		border-bottom: 1px solid #ededed;
	}
	.navItem {
		margin-right: 0rem;
		padding: 15px 0;
	}
	.buttons button {
		margin: 0 8px;
	}
	.toggle:checked + .navBar {
		display: flex;
	}
}
