@import "variable";

.header {
	width: 100%;
	height: auto;
	border-bottom: 1px solid #d9d9d9;
}

.container {
	max-width: 940px;
	margin: 20px auto;
	display: flex;
	align-items: center;
}

.uran {
    color: #4d4d4d;
    font-size: 36px;
    font-weight: 500;
	padding-left: 20px;
}

.headerLink {
	align-items: center;
	display: flex;
	text-decoration: none;
	width: 170px;
}

.imageLogo {
	width: 45px;
}

.navContainer {
	display: inline-block;
	width: 100%;
	height: fit-content;
}

.navBar {
	position: relative;
	float: right;
	display: flex;
	align-items: center;
}

.navItem {
	position: relative;
	font-size: 13px;
	font-weight: 500;
	padding: 10px 25px;
	text-decoration: none;
	&:hover {
		color: $darkpink !important;
	}
}

.activeNavItem {
	color: black !important;
	font-weight: 600;
}

.activeTabItem {
	color: $navy !important;
	padding-bottom: 3px;
	border-top: 2px solid $navy;
	font-weight: 500;
}

.buttons {
	display: flex;
}

.buttons button {
	min-width: 100px;
	margin-left: 20px;
	font-size: 13px;
}

.toggle, #label{
	display: none;
}

@media screen and (max-width: 991px) {
	#label {
		display: flex;
		cursor: pointer;
	}
	.navList {
		display: none;
		list-style-type: none;
		margin: 0;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.navContainer {
		padding-left: 0px;
		left: 0;
		position: absolute;
		top: 80px;
		z-index: 1;
		background: white;
	}
	.navItem {
		margin-right: 0rem;
		padding: 10px 0;
	}
	.navList li {
		margin: 0;
		width: 100%;
		text-align: center;
	}
	.navList li a {
		display: block;
	}
	.toggle:checked + .navList {
		display: flex;
	}
}
