@import "/variable";

.location_input {
	font-size: 12px;
	border-radius: 10px;
	border: 1px solid $ivory;
	background: $ivory;
	padding: 5px 10px;
	width: 550px;
	height: 36px;
	&:focus,
	&:hover {
		outline: none;
		border: 1px solid $midgrey;
		transition: border ease 0.3s;
	}
}

.location_dropdown {
    position: absolute;
    z-index: 1;
    width: 550px;
    background: white;
    box-shadow: 0px 2px 8px 1px #00000020;
    border-radius: 6px;
}

.location_active, .location {
    background: "#faf6f1";
    border-radius: 6px;
    cursor: "pointer";
    padding: 2px 10px;
}