@import "variable";

.error {
  color: red;
  font-style: italic;
  font-size: 11px;
  margin: 0;
  text-align: left;
  width: 250px;
  line-height: 15px;
}

.inp_error {
  animation: redoutline 4s;
}

@keyframes redoutline {
  0% { box-shadow: 0 0 5px 1px rgba(255, 0, 0, 0.7); }
  60% { box-shadow: 0 0 5px 1px rgba(255, 0, 0, 0.7); }
  100% { box-shadow: none; }
}

#modal {
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 5;
    align-items: center;
    display: flex;
}

.login-form {
  background: white;
  width: 350px;
  padding-top: 12px;
  padding-bottom: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px 1px $shadow;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center; 
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.small-text {
  font-size: 13px;
  .link {
    color: #906A64;
    font-weight: 700;
  }
}

.divider {
  width: 250px;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}
form .fa-times {
  cursor: pointer;
  font-size: 16px;
  position: relative;
    left: 150px;
  &:hover{
    color: $midgrey;
    transition: color ease 0.3s;
  }
}