@import 'variable';

.container {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  flex-direction: column;
}

.errorimg {
  width: 50%;
  min-width: 400px;
}