@import "variable";

.cover_div {
    height: 300px;
    overflow: hidden;
}

.stats {
	background: $pink;
	color: $darkpink;
	width: 140px;
	height: 55px;
	font-weight: 600;
	border-radius: 50px;
	font-size: 14px;
	text-align: center;
	margin: 10px;
}

.details {
	font-style: italic;
	font-weight: 400;
	font-size: 15px;
}

.situation_grid {
	display: grid;
	grid-template-columns: 70% 30%;
	grid-template-rows: 70% 30%;
}

.summary_div {
    grid-area: 1 / 1 / 2 / 2;
    margin: 10px 10%;
}
.stats_div {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
	align-items: center;
	justify-content: center;
}
.user_div {
    grid-area: 1 / 2 / 3 / 3;
    display: flex;
	align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile_pic {
    width: 150px;
}

.name {
    font-weight: 600;
    font-size: 17px;
    margin: 0;
}

.title {
    color: $darkgrey;
    margin: 0;
}