@import "variable";

/* If the screen size is 768 or more */
@media only screen and (min-width: 768px) {
    .profile_details {
        flex-wrap: nowrap;
    }
    .user_name {
        line-height: 1.3em;
    }
    .heading {
        justify-content: space-between;
    }
    .bar_section {
        padding: 1em 1%;
    }
}

/* If the screen size is 768 or less */
@media only screen and (max-width: 767px) {
    .profile_details {
        flex-wrap: wrap;
        justify-content: center;
    }
    .user_name {
        line-height: 2em;
    }
    .heading {
        justify-content: center;
    }
    .bar_section {
        padding: 1em 5%;
    }
}

.profile_details {
    display: flex;
    color: $navy;
}
.heading {
    flex-wrap: wrap;
    grid-column: 1 / 13;
    display: flex;
    padding: 1em 0em 1.5em 0em;
}
.user_name {
    color: black;
    font-weight: 500;
    font-size: 36px;
}

.detail {
    width: 100%;
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.dp {
	height: 250px;
	width: 250px;
    background-color: #cccccc;
	border-radius: 40px;
	object-fit: cover;
}

.user_buttons {
    flex: 0 1 240px;
    align-self: flex-start;
    display: inline-flex;
    justify-content: space-between;
}
.endorse_skill {
    color: $navy;
    background-color: $yellow;
}
.endorse_tool {
    color: $navy;
    background-color: $blue;
}
.shortlist_button {
    font-weight: bold;
    margin-left: 10px;
    color: $navy;
    background-color: $yellow;
}
.shortlisted_button {
    font-weight: bold;
    margin-left: 10px;
    color: $yellow;
    background-color: $navy;
}
.user_links {
    display: block;
    flex-direction: column;
}

.user_bio {
    overflow-wrap: normal;
    color: $darkgrey;
}

.user_socials {
    display: inline-flex;
    flex-direction: row-reverse;
    margin-top: 0.5em;
    flex-wrap: wrap;
}

.text_detail {
    margin-left: 10px;
}

.social_icon {
    margin-left: 20px;
}

.section {
    margin-bottom: 1.5em;
    grid-column: 1 / 13;
}

.about {
    display: flow-root;
    // display: flex;
    // grid-template-columns: auto / 1fr / auto;
    justify-content: center;
    color: $darkgrey;
}
.large_section {
    // grid-column: 2 / 3;
    padding: 4em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text_heading {
    display: inline-flex;
}

.text_title {
    font-weight: 500;
}
.endorse_button {
    align-self: flex-start;
    justify-self: flex-end;
}

.heading_endorse {
    display: flex;
    justify-content: space-between;
}
.column_section {
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // grid-template-columns: auto 1fr 1fr auto;
}

.progress_name {
    flex: 0 1;
    grid-column: 2 / 3;
}
.progress_bar {
    flex: 0 1;
    grid-column: 3 / 4;
}
.progress_section {
    margin-bottom: 3em;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.progress_text {
    font-size: 14px;
    margin-right: 40px;
}
.progress_endorsers {
    font-size: 12px;
    font-weight: bold;
    text-align: end;
}
