@import "variable";

.profile_details {
    display: flex;
    color: $navy;
}

.detail {
    width: 100%;
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.dp {
    height: 250px;
    width: 250px;
    background-color: #cccccc;
    border-radius: 40px;
}

.heading {
    grid-column: 1 / 13;
    display: flex;
    justify-content: space-between;
}

.user_name {
    flex: inherit;
    color: black;
    font-weight: 500;
}

.user_buttons {
    flex: 0 1 240px;
    align-self: flex-start;
    display: inline-flex;
    justify-content: space-between;
}
.user_links {
    display: block;
    flex-direction: column;
}

.user_bio { 
    overflow-wrap: normal;
    color: $darkgrey;
}

.user_socials {
    display: inline-flex;
    flex-direction: row-reverse;
    margin-top: 0.5em;
}

.text_detail {
    margin-left: 10px;
}

.social_icon {
    margin-left: 20px;
}

.section {
    margin-bottom: 1.5em;
    grid-column: 1 / 13;
}

.about {
    // display: flow-root;
    display: grid;
    grid-template-columns: auto / 1fr / auto;
    color: $darkgrey;
}
.large_section {
    grid-column: 2 / 3;
    padding: 4em 1em;
}
.text_heading {
    display: inline-flex;
}

.text_title {
    font-weight: 500;
}
.endorse_button {
    align-self: flex-start;
    justify-self: flex-end;
}

.heading_endorse {
    display: flex;
    justify-content: space-between;
}
.column_section {
    width: clamp(700px, 80%, 1200px);
    padding: 1rem;
    display: flex;
    justify-self: center;
    grid-template-columns: auto 1fr 1fr auto;
}
.progress_name {
    flex: 0 1;
    grid-column: 2 / 3;
}
.progress_bar {
    flex: 0 1;
    grid-column: 3 / 4;
}
.progress_section {
    margin-bottom: 3em;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.progress_text {
    font-size: 14px;
    margin-right: 40px;
}
.progress_endorsers {
    font-size: 12px;
    font-weight: bold;
    text-align: end;
}