@import 'variable';

.imgContainer {
	height: 70px;
	width: 70px;
	border-radius: 10px;
	background: $lightgrey;
	overflow: hidden;
}
.img1 {
	width: 70px;
	border-radius: 10px;
	background: $lightgrey;
}

.search_result {
	margin: 10px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 30px;
	box-shadow: 0 0 9px 0 $shadow;
	padding: 3.5% 6%;
	height: 100px;
	width: 700px;
	border-radius: 15px;
	background-color: #f5f5eb;
	&:hover {
		cursor: pointer;
		box-shadow: 0 0 10px 2px $shadow;
		transition: box-shadow ease 0.3s;
	}
}

.user_name {
	font-size: 18px;
	font-weight: 400;
	margin: 0;
}

.user_loc {
	display: flex;
	gap: 15px;
	font-weight: 300;
	font-size: 11px;
	align-items: center;
	margin: 3px 0 5px 0;
}

.user_type {
	padding: 1px 15px;
	border-radius: 5px;
	font-size: 10px;
}

.user_type.Graduate {
	color: $darkblue;
	background: $blue;
}

.user_type.Researcher {
	color: $darkyellow;
	background: $yellow;
}

.user_type.Freelancer {
	color: $darkpink;
	background: $pink;
}
