
@import "variable";

// some fancy scrollbars i stole from web it
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.4);
}
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}


.container {
    border: 1px solid black;
    padding: 5px;
    margin: 8px 150px;
    background-color: white;
    display: flex;
    overflow-x: scroll;
    overflow-y: show;
};

.taskCol {
    border: none;
    background-color: white;
    border-radius: 25px;
    padding: 10px 0px;
    margin: 10px;
    min-width: 400px;
    width: 400px;
    box-shadow: 0px 2px 16px $shadow;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.dropArea {
    background-color: $darkpink;
    padding: 15px 15px;
    margin-bottom: 25px;
    min-height: 100%;
}

.blank {
    min-height: 75%;
}

.taskTitle {
    width: 300px;
    font-size: 18px;
    resize: none;
    border: none;
};

.taskHeader {
    display: flow-root;
    padding: 10px 20px 0px 20px;
}

.taskInfo {
    padding: 10px 25px;
}

.taskDesc {
    width: 100%;
    font-size: 14px;
    resize: none;
    border: none;
};

.taskDuration {
    font-size: 12px;
    border: 1px solid black;
    background-color: white;
}

.actionsCard {
    display: flex;
    flex-direction: row;
    align-content: top;
    border: none;
    border-radius: 25px;
    padding: 15px 20px;
    margin: 12px 0px;
    background-color: white;
    min-height: 150px;
    box-shadow: 0px 2px 5px $shadow;
};

.editAction {
    display: none;
}

.actionsContent {
    padding: 10px 0px;
}

.dragHandle {
    font-size: 24px;
    text-align: right;
    color: $midgrey;
    position: relative;
    float: right;
    min-height: 60px;
    min-width: 60px;
}

.editBtn {
    font-size: 24px;
    text-align: right;
    color: $midgrey;
    position: absolute;
    float: right;
    bottom: 10px;
    min-height: 30px;
    min-width: 60px;
}

.editBtn i {
    &:hover {
		transform: scale(1.05);
		transition: transform 0.5s;
        cursor: pointer;
    }
    &:active {
		transform: scale(0.97);
		transition: transform 0.3s, background-color 0.2s;
	}
}

.addBtn {
    height: 80px;
    width: 100%;
    padding: 27px;
    font-size: 20px;
    color:  $darkpink;
    background-color: $pink;
    border-radius: 25px;
    text-align: center;
    
}

.draggingOver {
    background-color: lightblue;
}

.tools, .skills {
    width: 100%;
}

.btnCol {
    position: relative;
}
